html {
	--cart-in-view-background-accent: var(--neutral-50);
  --cart-in-view-background: var(--neutral-200);
  --cart-in-view-effect-decoration: var(--neutral-50);
  --cart-in-view-burger-button: var(--deep-koamaru-950);
  --cart-in-view-hover-on-button: var(--deep-koamaru-950);
  --cart-in-view-text-and-icons: var(--black);

}

html[data-theme="dark"] {
	--cart-in-view-background-accent: var(--neutral-950);
  --cart-in-view-background: var(--neutral-950-op-80);
  --cart-in-view-effect-decoration: var(--primary-400);
  --cart-in-view-burger-button: var(--deep-koamaru-950);
  --cart-in-view-hover-on-button: var(--deep-koamaru-950);
  --cart-in-view-text-and-icons: var(--white);
}

.c-cart {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	max-width: 340px;
	background: var(--cart-in-view-background);
	backdrop-filter: blur(20px);
	z-index: 18;
	transform: translateX(100%);
	transition: .4s;
	box-shadow: rgba(17, 17, 26, 0.1) 1px 0px 0px, rgba(17, 17, 26, 0.1) 8px 0px 24px, rgba(17, 17, 26, 0.1) 16px 0 48px;
	overflow-x: hidden;
  color: var(--cart-in-view-text-and-icons);

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		filter: blur(50px);
	}

	&::before {
		background: var(--cart-in-view-background-accent);
		width: 70%;
		height: 70%;
		top: 0%;
		left: 0;
	}

	&::after {
		background: var(--cart-in-view-effect-decoration);
		width: 400px;
		height: 50%;
		bottom: 0;
		left: 40%;
		opacity: 0.1;
		border-radius: 50%;
	}

	&.show {
		transform: translateX(0);
	}

	&__open {
		color: var(--cart-in-view-burger-button);
		cursor: pointer;
		padding: .5rem;
		border: none;
		display: flex;

    &:focus {
      outline: none;
    }
	}

	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		opacity: 0;
		transition: .4s;
		pointer-events: none;
		z-index: 2;
		background: #1a1a1a66;
		backdrop-filter: blur(3px);

		&.show {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		border-bottom: 1px solid var(--neutral-300);

		button {
			transition: .3s;
			appearance: none;
			background: none;
			border: none;

      .icon-svg {
        fill: var(--cart-in-view-text-and-icons);
      }
		}
	}

	.cart-header {
		&__title {
			padding: 0 1rem;
			font-size: 1.2rem;
			font-weight: 500;
		}

		&__close {
      margin-left: auto;
			padding: 1rem;
      
      .icon-svg {
        pointer-events: none;
      }

      &:focus,
      &:hover {
				outline: none;
				fill: var(--cart-in-view-hover-on-button);
				border-radius: 50%;
			}
		}
	}

	&__body {
    height: calc(100% - 60px /*tamaño del header*/);
		display: flex;
    overflow: hidden;
    position: relative;
		flex-direction: column;

		.body {
			&__products {
				width: 100%;
				overflow: auto;
			}

			&__want-bag {
				display: flex;
				background: var(--white);
				padding: 1rem;
				gap: 0.5rem;
				margin-top: auto;

				.want-bag {
					&__img {
						max-width: 100px;
						display: flex;
						align-items: flex-start;

						img {
							border: 1px solid #0000001a;
							max-width: 100%;
							border-radius: 0.5rem;
						}
					}

					&__info {
						display: flex;
						gap: 1rem;
						flex-wrap: wrap;
						flex-grow: 1;
					}

					&__text {
						.title {
							font-size: 1rem;
							font-weight: 600;
							padding: 0.5rem 0;
						}

						.name {
							font-size: .8rem;
						}

						.price {
							color: #009688;
							font-weight: 600;
						}
					}

					&__button {
						margin: auto 0 auto auto;
					}
				}
			}

			&__postal-code {
				background: var(--white);
				border-top: 1px solid var(--neutral-200);
				padding: 1rem;

				.postal-code {
					&__label {
						margin-bottom: 1rem;
					}
					
					&__input {
						border-radius: 5rem;
						display: flex;
						padding: 0.5rem 0.8rem;
						border: 1px solid var(--neutral-300);

						input {
							background: unset;
							border: none;
							padding: 0 0.5rem;
							width: 185px;

						}
						@media (min-width: 576px) {
							padding: 0.5rem 0.6rem;

							input {
								width: 295px;
							}
						}
					}
				}
			}

			&__summary {
				.summary {
					&__total {
						padding: 1rem;

						.total {
							&__items {
								border-bottom: 1px solid var(--neutral-300);

								.item {
									display: flex;
									justify-content: space-between;
									align-items: center;
									padding-bottom: .5rem;
								}
							}

							&__total {
								display: flex;
								justify-content: space-between;
								align-items: center;
								font-size: 1.2rem;
								font-weight: 500;
								padding: 1rem 0 0;
							}
						}
					}

					&__action {
						width: 100%;
						padding: 1rem;
						background: var(--black);
						color: var(--white);
						font-size: 1rem;
						font-weight: 500;
					}
				}
			}
		}
	}

	@media (min-width: 576px) {
		max-width: 450px;
	}
}

body.cart-open {
	overflow: hidden;

	@media (min-width: 576px) {
		margin-right: 0.6rem;
	}
}