.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .5rem 1rem;
    box-shadow: 0 2px 6px -2px #e5e5e5;

    .c-menu__open {
      padding: .5rem;
    }
  }

  &__logo {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__actions {
    display: flex;
    align-items: center;

    .actions {
      &__search,
      &__cart {
        padding: .5rem;
      }
    }
  }
}