.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: .5rem 1rem;
    box-shadow: 0 2px 6px -2px #e5e5e5;

    .c-menu__open {
      padding: .5rem;

      @media ( min-width: 992px ) {
        display: none;
      }
    }
  }

  &__logo {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media ( min-width: 992px ) {
      position: static;
      transform: unset;
    }
  }

  &__categories {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;

    @media ( min-width: 992px ) {
      display: flex;
    }

    .categories {
      &__item {
        height: 100%;
        padding: 0 1rem;
        display: flex;
        align-items: center;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    .actions {
      &__search {
        padding: .5rem;
      }

      &__search {
        @media ( min-width: 1200px ) {
          background: var(--neutral-50);
          border-radius: 5rem;
          display: flex;
          padding: 0.5rem 0.8rem;

          input {
            display: block !important;
            background: unset;
            border: none;
            padding: 0 .5rem;

            &:focus {
              outline: none;
            }
          }
        }

        input {
          display: none;
        }
      }
    }
  }

  &__top-header {
    display: none;
    background: var(--neutral-50);
    justify-content: space-between;
    padding: .25rem 1rem;

    @media ( min-width: 992px ) {
      display: flex;
    }

    .top-header {
      &__logo {
        width: 24px;

        .icon-svg {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__actions {
        display: flex;
        align-items: center;

        & > *:first-child,
        & > *:nth-child(2) {
          border-right: 1px solid var(--neutral-800);
        }

        & > * {
          padding: 0 1rem;
          font-size: .8rem;
          font-weight: 500;
        }
      }
    }
  }
}