.first-carousel {
  background: var(--neutral-50);

  &__wrapper {
    align-items: center;
  }
  
  &__slide {
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
  }
}

.banner-home {
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    min-height: 450px;
    max-width: 100%;

    img {
      object-fit: cover;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info {
      &__name {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      &__label {
        font-size: 2rem;
        font-family: var(--font-montserrat);
        font-weight: 900;
        margin-bottom: .5rem;
      }
    }
  }
}

.banner-home-category {
  margin-top: 3rem;
  position: relative;
  
  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    min-height: 450px;
    max-width: 100%;

    img {
      object-fit: cover;
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    color: var(--white);
    font-weight: 500;
    font-size: 1.4rem;
    background: var(--neutral-950-op-80);
    width: 100%;
    backdrop-filter: blur(3px);
    
    .text {
      padding: 1rem;
      max-width: 1400px;
      margin: auto;
    }
  }
}