.product-carousel {
  @media (min-width: 1400px) {
    max-width: 1400px;
    margin: auto;
  }
  
  &__title {
    font-size: 2rem;
    margin: 2rem 0 1rem;
    padding: 0 1rem;
    font-weight: 500;
    color: var(--neutral-950);
  }

  &__carousel {
    padding: 0 1rem !important;
  }
}